@font-face { font-family: Raleway; src: url('resources/fonts/Raleway-ExtraLight.ttf'); } 

h1 {
    font-family: Raleway;
}

.parent {
    position: relative;
    height: 500px;
}

.center {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
